div{
    background-color: yellow;
}
p,h2{
    color:green;
}

div>div>div>h2{
    color:blue;
}

p+p{
    background-color: darkcyan;
}
h2+p{
    background-color: red;
}
input[type=text]{
    background-color: yellow;
}
